.hero-container {
    background-image: url('/images/ss-africa-1m.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin: 0;
}

.hero-content p {
    font-size: 1.5rem;
    margin: 10px 0;
}

.cta {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
}

.cta:hover {
    background-color: #0056b3;
}
